body {
  font-family: "Montserrat";
}

.title {
  background-color: #ff4c68;
}

.i1 {
  width: 700px;
  height: 600px;
}

h1 {
  font-family: 'Lilita One', cursive;
  color: white;
  font-size: 4rem;
  line-height: 1.5;
}

.container-fluid {
  padding: 3% 1%;
}

.btn {
  margin-right: 3%;
}

.nav-item {
  padding: 0 25px;
}

.nav-link {
  font-family: "Montserrat";
  font-weight: bold;
  font-size: 1.1rem;
  color: grey;
}

.navbar-brand {
  font-family: "Ubuntu";
  font-size: 2rem;
  font-weight: 400;
}

.Features {
  padding: 7% 15%;
}

.feature-box {
  text-align: center;
  padding-right: 20px;
}

.navbar-brand {
  margin-left: 20px;
}

.fa-circle-check {
  padding-bottom: 20px;
  font-size: 2.5rem;
  color: #ef8172;
}

.fa-bullseye {
  padding-bottom: 20px;
  font-size: 2.5rem;
  color: #ef8172;
}

.fa-heart {
  padding-bottom: 20px;
  font-size: 2.5rem;
  color: #ef8172;
}

.para {
  color: #8f8f8f;
  font-size: 1.5rem;
}

h3 {
  font-family: 'Lilita One', cursive;
  font-weight: 600;
}

i:hover {
  color: #ff4c68;
}

.testimonials {
  padding: 7% 15%;
  background-color: #ff4c68;
  text-align: center;
}

h2 {
  font-family: 'Lilita One', cursive;
  color: #fff;
  line-height: 1.5;
  font-size: 3.5rem;
}

.testimonial-image {
  width: 120px;
  height: 140px;
  border-radius: 100%;
  margin-right: 20px;
}

.testimonial-image1 {
  width: 120px;
  height: 140px;
  border-radius: 100%;
  margin-right: 20px;
  margin-bottom: 12px;
}
.carousel-item{
  margin-bottom: 120px;
}

em {
  color: #fff;
  font-weight: 400;
  margin-bottom: 30px;
  font-size: 1.1rem;
}

.press {
  padding: 0 10%;
  background-color: #ff4c68;
  text-align: center;
}

.press-logo {
  width: 15%;
  margin: 20px 20px 50px;
}

.Jacksonville {
  margin-bottom: 20px;
}

.pricing {
  text-align: center;
  padding: 7% 17%;
  background-color:#fff;
}
.carousel-control-next
{
  padding-left: 10%;
}

.carousel-control-prev
{
  padding-right: 10%;
}

.black{
  color:#000;
}


.white{
  color: #fff;
}
.cards
{
  padding-right: 30px;

padding-bottom: 30px;

}
.card{
  background-color: #ff4c68;

}

.cta{
  background-color: #ff4c68;
  text-align: center;


}

.black1
{
  color: #000;
padding-top:  50px;
padding-bottom : 150px;
}
.footer
{
padding: 10% 0 2% 0;
}
.fa-brands:hover
{
  color: #fff;
}
.fa-instagram,.fa-linkedin,.fa-github,.fa-envelope
{
  padding-right: 10px;
  font-size: 2rem;
}



@medi(max-width:993.60px){

  .title{
    text-align: center;
  }

}
